<div class="global-width">
	<div class="block columns">
		<div class="common-form col-21">
	        <h2 class="title">Please enter you account:</h2>
	        <p class="field">
	            <input type="text" name="UserName" autocomplete="off" placeholder="Username *" />
	        </p>
	        <p class="field">
	            <input type="text" name="Password" autocomplete="off" placeholder="Password *" />
	        </p>
	        <button class="button green" type="submit">Login</button>
		</div>
	</div>
</div>