<header id="header" class="clearfix">
	<div class="top">
		<div class="global-width">
			<a class="logo" href="index.html"><img img-src="logo.jpg" alt="{{ 'Bloga' | i18n }}" /></a>
			<h2 class="text-center">{{ 'Get your free space!' | i18n }}</h2>
			<!--<a class="button green right" href="#">login</a>
			<div class="call-for-help">
				<img src="images/invis.gif" class="icon call-black" alt="Icon call">
				<p>
					<span class="label">gratis ondersteuning</span>
					<span class="tel">0299 200 850</span>
				</p>
			</div>-->
		</div>
	</div>
	<bloga-menu current="{{current}}"></bloga-menu>
</header>