{
	"version": "20140624", "mode": "release", "compact": true, "cacheDuration": 2592000,
	"references": {
		"jQuery": {
			"mimeType": "text/javascript",
			"files": [
				{ "filename": "/fe/js/aa.js" },
				{ "filename": "/fe/js/bb.js" },
				{ "filename": "/fe/js/cc.js" }
			]
		},
		"jQuery-Styles": {
			"mimeType": "text/css",
			"files": [
				{ "filename": "/fe/css/aa.css" },
				{ "filename": "/fe/css/bb.css" },
				{ "filename": "/fe/css/cc.css" }
			]
		}
	}
}