<header id="header" class="clearfix">
    <div class="top">
        <div class="global-width">
            <a class="logo" href="index.html"><img img-src="logo.png" alt="{{ 'rulee' | i18n }}" /></a>
            <!--<a class="button green right" href="#">{{ 'login' | i18n }}</a>-->
            <div class="hello-block">
                <p>
                    <span class="label">hello guys</span>
                    <span class="msg">Welcome!</span>
                </p>
            </div>
        </div>
    </div>
    <rulee-menu current="{{current}}"></rulee-menu>
</header>