{
    "favicon": { "source": "/fe/fav.ico" },
    "webResources": { "source": "/fe/res.config" },
    "defaultViewEngine": {
        "name": "./node/engines/vash",
        "extname": ".vash"
    },
    "cacheNotify": {
        "verify": "973940605064854",
        "remotes": {
            "server1": { "cacheUrl": "http://127.0.0.1:812/cache" },
            "server2": { "cacheUrl": "http://127.0.0.1:813/cache" }
        }
    },
    "session": {
        "secret": "rulee",
        "rolling": false,
        "cookie": {
            "name": "rulee.sid",
            "maxAge": 3600000        
        }
    }
}