<div class="page-banner">
    <div class="global-width">
        <div class="block head">
            <h1 class="title">aaaa</h1>
            <p>Met het platform van Starteenwinkel.nl kun je heel makkelijk</p>
        </div>
    </div>
</div>
<div class="global-width">
	<div class="block">
	    <div class="block blog-list">
	        <ul>
	            <li ng-repeat="b in blogs">
	                <a href="javascript:;" ng-click="go('/blog/' + b.id)">{{b.title}}</a>
	                <div>{{b.content}}</div>
	            </li>
	        </ul>
	    </div>
	</div>
</div>